<div class="ui container">
  <br>
  <div class="ui one stackable cards">

    <div class="card">

      <div class="content">
        <div class="header">Hitung Nilai Sekolah</div>
      </div>
      <div class="content">

        <form class="ui form">

          <!-- nilai tugas -->
          <div class="field">
            <label for="input_tugas">Nilai Tugas (20%)</label>
            <input id="input_tugas" type="text">
          </div>

          <!-- nilai uts-->
          <div class="field">
            <label for="input_nilai_uts" data-error="Isi nilai UTS dengan benar">Nilai UTS (35%)</label>
            <input id="input_nilai_uts" type="text">
          </div>

          <!-- nilai uas -->
          <div class="field">
            <label for="input_nilai_uas" data-error="Isi nilai UAS dengan benar">Nilai UAS (45%)</label>
            <input id="input_nilai_uas" type="text">
          </div>

          <!--nilai akhir-->
          <div class="field">
            <label for="disabled_nilai_akhir">Nilai Akhir</label>
            <input disabled value="I am not editable" id="disabled_nilai_akhir" type="text" class="validate">
          </div>

          <!-- nilai huruf -->
          <div class="field">
            <label for="disabled_nilai_huruf">Nilai Huruf</label>
            <input disabled value="I am not editable" id="disabled_nilai_huruf" type="text" class="validate">
          </div>

          <!-- nilai predikat -->
          <div class="field col">
            <label for="disabled_nilai_predikat">Predikat Nilai</label>
            <input disabled value="I am not editable" id="disabled_nilai_predikat" type="text" class="validate">
          </div>

        </form>
      </div>

      <!-- tombol -->
      <div class="extra content">
        <div class="ui right floated" style="float: right;">
          <button type="submit" class="ui blue button">Hitung</button>
          <button type="submit" class="ui green button">Reset</button>
        </div>
      </div>
    </div>

  </div>
</div>
